@inherits LayoutComponentBase

<PageTitle>TestTaskRedRift</PageTitle>

<div class="page">
  <div class="sidebar">
    <NavMenu/>
  </div>

  <main>
    <div class="top-row px-4">
      Dmitriy Senko Test Work, 2023.
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>